---
import '@picocss/pico/css/pico.css';

export interface Props {
  title: string;
  description?: string;
  url?: string;
}

const { title, description, url } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
  </head>
  <body class="container">
    <nav>
      <ul>
        <li>
          <a href="/" class="contrast"><strong>Saizeriya Reviews</strong></a>
        </li>
      </ul>
      <ul>
        <li><a href="/rating-system">Rating System</a></li>
      </ul>
    </nav>
    <slot />
  </body>
  <footer>
    <p>
      Support us on our <a href="">Patreon</a> so we can pay for the food :sob:
    </p>
  </footer>
</html>
